language: node_js
sudo: true
jdk:
  - openjdk9
services:
  - postgresql
before_script:
  - psql -c "CREATE DATABASE conditor;" -U postgres
  - psql -c "CREATE USER conditor WITH PASSWORD 'conditor';" -U postgres
  - psql -c "GRANT ALL PRIVILEGES ON DATABASE conditor TO conditor;" -U postgres
  - npm run start-forever
  - sleep 10
  - npm run stop-forever
node_js:
  - '10'
before_install:
  - curl -O https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-6.5.4.deb && sudo dpkg -i --force-confnew elasticsearch-6.5.4.deb && sudo service elasticsearch start
  - sudo -E /usr/share/elasticsearch/bin/elasticsearch-plugin install analysis-icu
  - sudo service elasticsearch restart
install: ZIP_PASSWORD=${ZIP_PASSWORD} npm run install:travis
notifications:
  email:
    recipients:
      - claude.niederlender@inist.fr
      - jean-joffrey.parentin@inist.fr
      - remy.meja@inist.fr
      - conditordev@gmail.com
    on_success: change
on_failure: always
env:
  global:
    - CONDITOR_ES_HOSTS=localhost:9200
    - REVERSE_PROXY="0.0.0.0"
    - PG_DATABASE=conditor
    - PG_HOST=localhost
    - PG_PASSWORD=conditor
    - PG_PORT=5432
    - PG_USERNAME=conditor
    - secure: pmuPu1oOLTdpWS/iCCIYNkqgPQJS9LLBM1PJdKFoB5U01AtVGlyAj21/ygg4bi1KN1TOKisTx8+qdoCOp1z2ByC2XtFBnFFxEX5dVuYM+NaODpdnPrfavTqWEV0u1jVf1KF4KaNKbAzGi/Yo+KkX/ic9Lqj7CbTaGALGfvG3SmHMN5NAEQ6J7idSiUg8N7Rnk8oQfXLeuQK5i1u+Eb5qauiEtpx/htuctXFuo6K03g9Pp9ve0U1Aj8CcU0olsgcSeXZ24LdhJ9A2xcHsY06/JvfEc5XVC3a1TJWmCXydxiEoij0fn+MkUSxg0IzKyc1tabYwFWtRzKz9RD3o7SSuYgb9Pdzq3qPqNEvFUCTBhMUKyPI4ZlGrLMTYG2vtaRizFOr5QH9KB78LrH4xWfRqdtJt/ttQ+FshDn5wylkvqJCkzkLX74LKi+lRQzWAPkuLKqTpkSZrXMlpYToGCzJeLe3gIl4LCO3LkvR+n+r7/OIkfcnqryK39/x5XllkxAXQm+XpgVIAftswOeiCPCEj/wb2O9p/VYnXS6mJPGl+3j3FU1hqFawl24T16CHtUbwe+0bgEvs+E/vwQJdDDl6L8k7K2eLZGR3jAEWBWoTbm0pp2iT1WEwH89X/gRzXmv3e/tpKr50XOevJf1vJAIs1D2vj0j9hoW6SLfwOtKhYEEQ=
