version: '2'
services:

  conditorapi:
    depends_on: 
      - conditorpg
    container_name: conditor-api
    image: conditor/api:1.1.0
    environment :
      TZ: "Europe/Paris"
      LOG_PATH: /var/log
      CONDITOR_API_HOST: 0.0.0.0
      CONDITOR_API_PORT: 63332
      CONDITOR_ES_HOSTS: ${CONDITOR_ES_HOSTS}
      REVERSE_PROXY: ${REVERSE_PROXY}
      JWT_KEY: ${JWT_KEY}
      NODE_ENV: ${NODE_ENV}
      CONDITOR_ES_VERSION: 6.x
      PG_HOST: conditor-postgres
      PG_PORT: 5432
      RECORD_INDEX: ${RECORD_INDEX}
      PG_USERNAME: ${PG_USERNAME}
      PG_PASSWORD: ${PG_PASSWORD}
      PG_DATABASE: ${PG_DATABASE}
    ports:
      - ${CONDITOR_API_PORT}:63332
    networks:
      - apinet
    volumes:
      - ${LOG_PATH}:/var/log
      - ./bin:/app/bin
      - ./.jwt:/app/.jwt
    restart: "on-failure:5"

  conditorpg:
    container_name: conditor-postgres
    image: postgres:11.1
    environment:
      POSTGRES_HOST: ${PG_HOST}
      POSTGRES_USER: ${PG_USERNAME}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DATABASE}
    ports:
      - ${PG_PORT}:5432
    networks:
      - apinet
    volumes:
      - ${PG_DATADIR}:/var/lib/postgresql/data
      - ./postgresql.conf:/var/lib/postgresql/data/postgresql.conf

  conditorpga:
    depends_on: 
      - conditorpg
    container_name: conditor-pgadmin
    image: dpage/pgadmin4:4
    environment: 
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports: 
      - ${PGADMIN_PORT}:80
    networks:
      - apinet

networks:
  apinet:
    driver: bridge
