%YAML 1.2
---

imports:
  - resource: config.yml

nodejs:
  stackTraceLimit: 5

security:
  reverseProxy: ::ffff:127.0.0.1 # we add supertest request ip so we can x-forward spoofed ip
  ip:
    inMemory:
      - ip: 111.11.11.1
        email: test-user@conditor.fr
  jwt:
    forbiddenIds:
      - forbidThisId


pg:
 clients:
   main:
     logging: false

indices:
  recordsTest:
    index: records-test
    type: %env(RECORD_TYPE)%
    optional : true # this indice does not need to exist at startup
