%YAML 1.2
---

imports:
  - resource: config.yml

nodejs:
  stackTraceLimit: 20

smokeTest:
  doRun: true

security:
  ip:  # list authorized ip Users
    inMemory:
      - ip: 127.0.0.1
        email: user@conditor.fr

elastic:
  clients:
    main:
      log: # Possible values: error, info, trace, warning, debug
        - error
        - warning
